h1 {
    text-align: center;
}

table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

a{
    text-decoration: none;
    color: black;
}


thead{
    height: 50px;
    background-color: red;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

td:not(tfoot td){
    height: 80px;
    border: 1px solid rgb(221, 221, 221);
    border-bottom: none;
    font-family: Arial, Helvetica, sans-serif;
}

tbody{
    border: 1px solid transparent;
    text-align: center;

}

.notop_border{
    border-top: none;
}


tfoot{
    height: 50px;
    background-color:turquoise;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}


.table_img{
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.marvel_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    width: 100px;
    height: 100px;
    

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
}



/* Estilo del boton para volver al inicio */
.home_icons{
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 1000;
    height: 50px;
    width: 50px;
}


/* Estilo del modelo 3D */
model-viewer {
    width: 100%;
    height: 100%;
    position: relative;
    height: 200vh; /* Altura del model-viewer */
    width: 100%;
    background-color: transparent;
    z-index: 0;
}


main {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    pointer-events: auto;
}


/* Estilo del titulo */
.title{
    font-size: 6em;
    line-height: 1.5;
    letter-spacing: 2px;
    transform: scaleY(1.5);
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color: white;
    z-index: -1;
}

/* Estilo del contenido */
.director{
    margin-top: 20%;
    margin-left: 27%;
    position:relative;
    line-height: 1.5;
    transform: scaleY(1.5);
    font-weight: bold;
    text-align: left;
    color: white;
    z-index: 1;
}


.info_title{
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    
}

.info_content{
    font-size: 2.5em;
    margin-top: -1%;
    font-family: monospace;

}


.cast{
    margin-top: 17%;
    margin-left: 62%;
    position:relative;
    line-height: 1.5;
    transform: scaleY(1.5);
    font-weight: bold;
    text-align: left;
    color: white;
    z-index: 1;
}




.release{
    margin-top: 17%;
    margin-left: 27%;
    position:relative;
    line-height: 1.5;
    transform: scaleY(1.5);
    font-weight: bold;
    text-align: left;
    color: white;
    z-index: 1;
}



.video{
    margin-left: 27%;
    position: absolute;
    margin-top: -2%;
    height: 50px;
    width: 50px;
    z-index: 2;
}


/* Clases para el toggle en JS */

iframe{
    position: fixed;
    left: 1%;
    z-index: 3;
    height: 46%;
    width: 31%;
         
    transform: translateY(-50%);
    display: none;
    border: 0;
}

iframe.active{
    display: block;

}


.close_button {
    position: fixed;
    left:30%;
    top: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    z-index: 7;
    display: none;
}


.close_button.active {
    display: block;
}